/*xs Default*/
.carousel-caption{
  width:100%;
  height:100%;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.3);
}

body {
  background-color: slategrey;
}

.text-format {
  padding-top: 10px;
  padding-bottom: 5px;
  text-shadow: 4px 5px 5px #000;
}

.img-fix {
  width: 100%;
}


/* sm */
@media (min-width: 576px) {

}

/* md */
@media (min-width: 768px) {

}
/* lg */
@media (min-width: 992px) {
.img-fix {
  max-height: 90vh;
  object-fit: cover;
}
}
/* xl */
@media (min-width: 1200px) {

}
